# Ambiente virtual
.venv/
backend/.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variáveis de ambiente
.env
.env.*

# VS Code
.vscode/

# Banco local
*.db

# Logs
*.log

# Node.js / Next.js
node_modules/
.next/
out/

# Sistema Operacional
.DS_Store
Thumbs.db